
<link rel="icon" type="image/png" sizes="192x192"  href="{{ "/android-icon-192x192.png" | prepend site.baseurl }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/icon/favicon-32x32.png" | prepend site.baseurl }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ "/assets/icon/favicon-96x96.png" | prepend site.baseurl }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/icon/favicon-16x16.png" | prepend site.baseurl }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ "/assets/icon/ms-icon-144x144.png" | prepend site.baseurl }}">
<meta name="theme-color" content="#ffffff">